.main{
    width: 100%;
    text-align: center;
}

.header{
    height: 100px;
    width: 600px;
    background-color: #ffcccc;
    margin: auto;
}

.nav{
    height: 50px;
    width: 600px;
    background-color: #ccccff;
    margin: auto;
    
}
.menu{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 150px;
}
.menu a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: left;
    
}

.content{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}